extends ../layout

block content 
    
    a(href="/bicicletas/create") Subir Nueva Bicicleta

    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                
        tbody
            each bici in bicis
                tr
                    th(scope='row')=bici.id
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        a(href= 'bicicletas/' + bici.id + '/update') Actualizar 
                    td
                        form.inLine(method='post' action= 'bicicletas/' + bici.id + '/delete')
                            input(type='hidden' name='id' value= bici.id)
                            button.btn.btn-danger.btn-sm(type='submit' name='submit_param' value='submit_value' class='btn eliminar')
                                = 'Eliminar' 
                                


